<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles/loginPage.css" rel="stylesheet">
    <title>Enter Password</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="home" href="/">Home</a>
        </div>
    </div>
</nav>
    
        <div class="login-container left-container">
            <section>
                <article>
                    <h3 class="code_label">Enter your password</h3>
                </article>
            </section>
            <section>
                <form method="POST">
                  <article>
                    <label for="password"> Enter your password</label>
                  </article>
                   <article>
                      <input type="password" class="input-full" id="password" name="password" required="True"/>
                    </article>
                    <article>
                        <label for="password2"> Confirm password</label>
                      </article>
                    <article>
                        <input type="password" id="password2" name="password2" required="True" class="input-full"/>
                      </article>


                        
                    <button class="login-btn apple">Continue</button>  
                </form>
             </section>

        </div>
</body>
</html>