{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="POST">
    <br>
    <h3 align="center">Sign Up</h3>
    <br>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="nameF">First Name</label>
        <input type="text" class="form-control" id="nameF" name="nameF" placeholder="Jane" required="True">
      </div>
      <div class="form-group col-md-5">
        <label for="nameL">Last Name</label>
        <input type="text" class="form-control" id="nameL" name="nameL" placeholder="Doe" required="True">
      </div>
      <div class="form-group col-md-2">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" name="age" placeholder="45" required="True">
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required="True">
    </div>
    <div class="form-group">
        <label for="password2">Re-Enter Password</label>
        <input type="password" class="form-control" id="password2" name="password2" required="True">
      </div>
      <div class="form-row">
      <div class="form-group col-md-7">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required="True">
      </div>
      <div class="form-group col-md-5">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" required="True">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>

{% endblock %}
